html, body {
	font-family: 'Work Sans', sans-serif;
	height: 100%;
	width: 100%;
	background-color: black;
}
ul {
	list-style: none;
}
img {
	width: 100%;
}
a {
	color: black;
}
a:hover {
	color: #66c48c;
}
a[x-apple-data-detectors] { /* Circumvent iOS auto link preview styling (for telephones) */
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}

/* Logo on landing page */
.main-logo {
	max-width: 225px;
}
.logotype {
	max-width: 150px;
	height: auto;
}
.main-dragons {
	padding: 10px;
	opacity: .1;
	max-width: 200px;
}

/* Navigation */
.dropdown-toggle::after { /* Hide default caret icon */
	display: none;
}
.nav-item {
	font-family: 'Work Sans', sans-serif;
	font-size: 18px;
	font-weight: 600;
}
.navbar {
	background-color: #f4f4f2;
	padding-bottom: 0;
}

/* Landing color block */
header {
	position: relative;
	width: 100%;
	min-height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
 	-o-background-size: cover;
	background-position: center;
	text-align: center;
}
.header-color {
	background-color: #f4f4f2 !important;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 125px 15px 100px;
  width: 100%;
}

/* Section */
section {
	padding-top: 50px;
	padding-bottom: 50px;
}
.sub-section {
	color: black;
	padding: 15px;
}

/* Menu */
.menu-section {
	background-color: #f4f4f2 !important;
}
.menu-header {
	font-family: 'Vampiro One', cursive;
	color: #66c48c;
}
.menu-header-large {
	font-family: 'Vampiro One', cursive;
	color: black;
	margin-top: 24px;
	text-transform: uppercase;
}
.lunch-header-large {
	font-family: 'Vampiro One', cursive;
	color: #66c48c;
	margin-bottom: 24px;
	text-transform: uppercase;
}
.menu-cat {
	margin-bottom: 16px;
	padding-left: 24px;
}
.menu-item {
	font-family: 'Work Sans', sans-serif;
	font-size: 15px;
	margin: 0;
	font-weight: 600;
}
.menu-description {
	font-weight: 400;
	font-size: 12px;
	margin-bottom: 3px;
}
.cat-description {
	font-weight: 400;
	font-size: 12px;
	color: #66c48c; /*green*/
	margin-bottom: 8px;
	margin-top: -8px;
}
.menu-price {
	font-family: 'Work Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	padding-left: 5px;
}
.fa-pepper-hot {
	color: red;
}
.page-title {
	font-family: 'Vampiro One', cursive;
	font-size: 2rem;
	color: black;
	font-weight: 600;
	text-align: center;
}
.page-header {
	margin-top: 50px;
	margin-bottom: 75px;
}
.combo-number {
	color: #66c48c; /*green*/
}
.combo-header {
	margin-top: 16px;
	color: black;
	margin-bottom: 3px;
}
.combo-column {
	font-weight: 400;
}
.dragons {
	padding-top: 60px;
	opacity: .1;
}

/* About page */
.weekday {
	font-size: 15px;
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
	margin-bottom: 5px;
}
.time {
	font-size: 12px;
	font-family: 'Work Sans', sans-serif;
	margin: 0;
}
.about-hours {
	margin-bottom: 12px;
}
.about-header {
	font-family: 'Vampiro One', cursive;
	color: #66c48c;
	margin-top: 24px;
}
.page-description {
}

/* Catering page */
.catering-contact {
	font-size: 18px;
	font-family: 'Work Sans', sans-serif;
	margin: 0;
}

/* Button style */
.btn-primary {
	background-color: #66c48c; /*green*/
	border-color: #66c48c;
	color: white;
	font-size: 15px;
	font-family: 'Work Sans', sans-serif;
	margin: 5px;
}
.btn-primary:hover {
	background-color: #f4f4f2;
	border-color: #66c48c;
	color: #66c48c;
}
.btn-pdf {
	font-size: 12px;
	margin-top: 16px;
}
.button-group {
	margin-top: 50px;
}

/* Footer */
.footer-section {
	color: #ffffff;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
}
.footer-header {
	font-size: 18px;
	font-weight: 600;
}
.footer-info {
	font-size: 12px;
	font-family: 'Work Sans', sans-serif;
	margin: 0;
	color: white !important;
}
.footer-info2 {
	font-size: 12px;
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
	margin-bottom: 5px;
}
.hours {
	margin-bottom: 8px;
}
.map {
	padding: 8px;
	border-radius: 0.7rem;
}
